.hs-header-navbar-animation--in {
  animation-fill-mode: both;
  animation-name: lighteningIn;
}

.hs-header-navbar-animation--out {
  animation-fill-mode: both;
  animation-name: lighteningOut;
}

.hs-header-navbar {
  will-change: transform;
  position: fixed;
  z-index: 9;
  background-color: #093553;
  animation-duration: 0.3s;
}

.hs-header-navbar-init-render {
  opacity: 0;
  display: none;
}

.hs-header-nav {
  display: flex;
  height: 70px;
}

.hs-header-link-item {
  align-content: center;
  display: flex;
}
.hs-header-brand {
  height: 70px;
}

.hs-header-logo {
  height: 100%;
}

.hs-header-link {
  margin: auto;
  font-size: 16px;
  color: white;
  background-color: initial;
  border: none;
}

.hs-header-link:active {
  outline: none;
  border: none;
}

.hs-header-link:focus {
  outline: none;
  border: none;
}

.hs-header-nav-mobile-menu-icon {
  color: white;
}

@keyframes lighteningIn {
  from {
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    transform: skewX(-5deg);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes lighteningOut {
  from {
    opacity: 1;
  }

  to {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
    display: none;
  }
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #6792ae;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width: 320px) {
  .hs-header-navbar {
    box-shadow: 0 -1px 10px rgba(0,0,0,0.5);
    bottom: 0;
    left: 0;
    width: 100%;
    top: initial;
    border-bottom: 0;
    justify-content: space-between;
    display: flex;
    padding: 10px 15px;
    border-bottom: 0;
    align-items: center;
    margin-bottom: 0;
  }

  .hs-header-nav {
    display: none;
  }

  .hs-header-nav-mobile-menu-icon {
    display: initial;
    font-size: 22px;
  }

  .hs-header-brand {
    height: 40px;
    background-color: initial;
    border: none;
    outline: none;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .hs-header-nav {
    display: flex;
  }

  .hs-header-link-item {
    margin-left: 25px;
  }

  .hs-header-navbar {
    box-shadow: 0 1px 10px rgba(0,0,0,0.5);
    border-top: 0;
    top: 0;
    bottom: initial;
    padding: 0px 15%;
  }

  .hs-header-nav-mobile-menu-icon {
    display: none;
    visibility: hidden;
  }
}
