@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);

  }
}

.log-list-column {
  margin-top: 25px;
}

.log-list-text-link {
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
}

.log-list-loading {
  margin-top: 40px;
  font-size: 40px;
  transform-origin: 75% 25%;
  animation: rotating 1.5s linear infinite;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width: 320px) {
  .log-list-row:first-child .log-list-column:first-child {
    margin-top: 0;
  }

  .log-list-column {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width: 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (min-width: 768px) {
  .log-list-row:first-child .log-list-column:first-child {
    margin-top: 25px;
  }

  .log-list-column {
    padding-left: 15px;
    padding-right: 15px;
  }
}