.garage-screen {

}

.garage-screen-main-title {
  margin-top: 0;
}

.garage-screen-title {
  background-color: #4F7F9F;
  margin: 0;
  color: white;
  border-radius: 6px 6px 0 0;
  padding: 10px;
}

.garage-screen-motorcycles-wrapper {
  display: flex;
}

.garage-screen-motorcycles-title {
  margin: 5px 0 30px;
  text-align: center;
}

.garage-screen-sub-title {
  margin: 10px 0;
}
